<!DOCTYPE html>
<html lang="en" ng-app="AuthSampleApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <!-- satellizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>

  <!-- custom script (angular app) -->
  <script type="text/javascript" src="scripts/app.js"></script>

  <title>Synapse</title>
</head>

<body ng-controller="MainController as main">
  <nav class="navbar navbar-default indigo darken-4">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/" class="brand-logo"><img src="http://i.imgur.com/1e0CcOV.png" id="logo"></a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-show="!main.currentUser()"><a ui-sref="signup">Sign Up</a></li>
          <li ng-show="!main.currentUser()"><a ui-sref="login">Log In</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="aboutus">About Us</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="contactus">Contact Us</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="profile">\{{main.currentUser().displayName}}</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="logout">Log Out</a></li>
        </ul>
      </div>
  </nav>

  <div class="row">
    <ui-view>
  </div>

</body>
</html>
