<!DOCTYPE html>
<html lang="en" ng-app="AuthSampleApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.0/papaparse.js"></script>

  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <!-- satellizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>

  <!-- custom script (angular app) -->
  <script type="text/javascript" src="scripts/app.js"></script>

  <title>Synapse</title>
</head>

<body ng-controller="MainController as main" class="grey lighten-3">
  <nav class="navbar navbar-default indigo darken-4">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/" class="brand-logo"><img src="http://i.imgur.com/1e0CcOV.png" id="logo"></a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-show="!main.currentUser()"><a ui-sref="signup">Sign Up</a></li>
          <li ng-show="!main.currentUser()"><a ui-sref="login">Log In</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="aboutus">About Us</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="contactus">Contact Us</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="profile">\{{main.currentUser().displayName}}</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="logout">Log Out</a></li>
        </ul>
      </div>
  </nav>

  <div class="row">
    <ui-view>
  </div>

</body>
<script>


$.fn.editableTableWidget=function(e){"use strict";return $(this).each(function(){var t,i=function(){var e=$.extend({},$.fn.editableTableWidget.defaultOptions);return e.editor=e.editor.clone(),e},n=$.extend(i(),e),o=37,r=38,s=39,d=40,a=13,h=27,l=9,f=$(this),c=n.editor.css("position","absolute").hide().appendTo(f.parent()),p=function(e){t=f.find("td:focus"),t.length&&(c.val(t.text()).removeClass("error").show().offset(t.offset()).css(t.css(n.cloneProperties)).width(t.width()).height(t.height()).focus(),e&&c.select())},u=function(){var e,i=c.val(),n=$.Event("change");return t.text()===i||c.hasClass("error")?!0:(e=t.html(),t.text(i).trigger(n,i),void(n.result===!1&&t.html(e)))},g=function(e,t){return t===s?e.next("td"):t===o?e.prev("td"):t===r?e.parent().prev().children().eq(e.index()):t===d?e.parent().next().children().eq(e.index()):[]};c.blur(function(){u(),c.hide()}).keydown(function(e){if(e.which===a)u(),c.hide(),t.focus(),e.preventDefault(),e.stopPropagation();else if(e.which===h)c.val(t.text()),e.preventDefault(),e.stopPropagation(),c.hide(),t.focus();else if(e.which===l)t.focus();else if(this.selectionEnd-this.selectionStart===this.value.length){var i=g(t,e.which);i.length>0&&(i.focus(),e.preventDefault(),e.stopPropagation())}}).on("input paste",function(){var e=$.Event("validate");t.trigger(e,c.val()),e.result===!1?c.addClass("error"):c.removeClass("error")}),f.on("click keypress dblclick",p).css("cursor","pointer").keydown(function(e){var t=!0,i=g($(e.target),e.which);i.length>0?i.focus():e.which===a?p(!1):17===e.which||91===e.which||93===e.which?(p(!0),t=!1):t=!1,t&&(e.stopPropagation(),e.preventDefault())}),f.find("td").prop("tabindex",1),$(window).on("resize",function(){c.is(":visible")&&c.offset(t.offset()).width(t.width()).height(t.height())})})},$.fn.editableTableWidget.defaultOptions={cloneProperties:["padding","padding-top","padding-bottom","padding-left","padding-right","text-align","font","font-size","font-family","font-weight","border","border-top","border-bottom","border-left","border-right"],editor:$("<input>")};

</script>
</html>
