
	<div class="col s3" id="sidebar">
		<h5>Lead Lists</h5>
		<!-- Grey navigation panel -->
		<div class="fixed-action-btn" style="top: 100px; left: 21.5%;">
		 <a class="btn-floating btn-medium waves-effect waves-light modal-trigger green accent-4" href="#modal1">
			 <i class="large material-icons">add</i>
		 </a>
	 </div>

	 <!-- Modal Structure -->

		<div id="modal1" class="modal">
	    <div class="modal-content">
	      <h5>Upload Your CSV</h5>


				<form class="upload" method="POST">
					<input type="file" multiple>
						<p id="drop">
							<i class="fa fa-cloud-upload"></i>
							Drag & Drop Or Click
						</p>
					<div id="uploadbutton">
						<button class="modal-action modal-close btn waves-effect waves-light green accent-4" type="submit" name="action">Upload
					    <i class="material-icons right">send</i>
					  </button>
					</div>
				</form>

	  </div>
	</div>
</div>

	<div class="col s9 grey lighten-3">
			<form id="find">
				<div class="input-field white">
	        <input id="search" type="search" required>
	        <label for="search">search</label>
				</div>
	    </form>
			<div class="line">
				<i class="fa fa-filter fa-2x icon"></i>
				<i class="fa fa-save fa-2x icon"></i>
			</div>

			<table class="white">
			<thead>
				<tr>
						<th data-field="id">First Name</th>
						<th data-field="name">Last Name</th>
						<th data-field="price">Email</th>
						<th data-field="phone">Phone No.</th>
						<th data-field="job">Job Title</th>
						<th data-field="linkedin">Company</th>
						<th data-field="location">Location</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Alvin</td>
					<td>Eclair</td>
					<td>$0.87</td>
				</tr>
				<tr>
					<td>Alan</td>
					<td>Jellybean</td>
					<td>$3.76</td>
				</tr>
				<tr>
					<td>Jonathan</td>
					<td>Lollipop</td>
					<td>$7.00</td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>

	<script>
	$(document).ready(function(){
				// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
				$('.modal-trigger').leanModal();

				$('form input').change(function () {
					$('form p').text(this.files.length + " file(s) selected");
				});
			});


	</script>
