
<div ng-app="AuthSampleApp">
	<div ng-controller="DataController">
	<div class="col s3 white" id="sidebar">
		<h5>Lead Lists
			<div class="btn-file btn-floating green accent-4" id="add">
			<i class="material-icons" style="padding-top: 4px">add</i>
			<input type="file" id="csv-file" />
		</div>
		<span class="fileupload-preview"></span></h5>


			<div class="fixed-action-btn" style="bottom: 20px; left: 30.5px;">
				<span id="upload" data-action="upload" class="btn grey">Save</span>
			</div>

			<div class="fixed-action-btn" style="bottom: 20px; left: 140px;">
				<span id="export" data-action="export" class="btn grey">Download</span>
			</div>

	 		<span id"notification" class=""></span>

 		</div>



	<div class="col s9">
				<div class="input-field white" id="find">
	        <input id="search" type="text" placeholder="search">
				</div>


			<table id="csv-table" class="table table-stripped table-bordered white" data-toggle="table">

			<thead>
				<tr>
						<th data-field="id">First Name</th>
						<th data-field="name">Last Name</th>
						<th data-field="price">Email</th>
						<th data-field="phone">Phone No.</th>
						<th data-field="job">Job Title</th>
						<th data-field="linkedin">Company</th>
				</tr>
			</thead>

		</table>
		<div class="center">
			<i class="fa fa-cloud-upload" aria-hidden="true" id="cloud"></i>
			<p id="CTA">Click The Green Button To Add Your CSV</p>
		</div>

	</div>


</div>
</div>

<script>

	 $("#search").keyup(function(){
			 _this = this;
			 // Show only matching TR, hide rest of them
			 $.each($("#csv-table tbody tr"), function() {
					 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
							$(this).hide();
					 else
							$(this).show();
			 });
	 });

</script>
